

/* Tablets en horizonal y escritorios normales*/
@media (min-width: 768px) {
  color:#fed136;
    .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
}
.ec-stars-wrapper a {
  text-decoration: none;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  margin-left: 20px;
  color:#fff;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#fff;
}

#puntuacion{
transform: translateX(20%);
}
#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:55px; 
padding-top: 60%; 
margin-left: 45%; 
color: #E1B423;
}

header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 590px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400italic; 
  font-size:40px; 
  margin-top:50px; 
  text-align: left;
}

section#contact .section-heading{
  color:#fff;
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 15px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 15px;
}

#camarita_web{
  padding-left:6.5%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:723px; width:100%;
}


.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 16px;
}
 

.marcoFoto{
  background-color: black; 
  height: 190px;
  margin: 15px 15px 15px 15px; 
  width: 21%;
}
#check{
height: 48px;
width: 54px;
margin-left: 0px;
}
.marcoFotoGrande{
  background-color: black; 
  height: 440px; 
  margin-bottom: 50px;
}
#flag
{
  width: 40px;
  height: 20px;
  margin-left: -100%;
  margin-top: 375px;
}
.nombre{
  margin-top: 140px; 
  font-size:18px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:15px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
  #top20{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: right;
    margin-top: 6%;
  }
.col-xs-8{
  padding-left: 0px !important;
}
.col-xs-4{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
#registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
}
#ingresa{
 margin-left: 20px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
 margin-right: 5px;
}
  .nombre1{
  margin-top: 370px; 
  font-size:25px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad1{ 
    font-size:15px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
 

#tituloFotos{
  text-align: left; 
  margin-top: 140px;
  letter-spacing: 0.5rem;
  font-size: 45px;
  margin-bottom: 30px;
  margin-left: 15px;
}

 #texto_08
 {
  color: black; 
  padding-top:8px;
  font-size: 12px;
 }

.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-bottom: 10px;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 15px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 14px;
color: white;
padding: 10px;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 25%;
margin-top: 10px;
} 

#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%;
    margin-top: -55px;
    margin-bottom: 50px;
    font-size: 15px;
  }
#imagenes{
  margin-top: 50px;
}
  #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 47%;
    margin-bottom: 50px;
    margin-top: 0px !important;
    font-size: 13px;
  }

  #tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #D89919;
    text-transform: uppercase;
  } 

#marco_info{
  background-color: transparent;
  height: 235px;
}
  .titulo_info{
  font-size: 20px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  margin-left: 15px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  margin-left: 15px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 15px;
  font-size: 14px
}
  #tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    margin-top: 7px;
    margin-left: 15px;
  }

.bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:400px; 
  width:200px;
  tranform: translateX(-50%);
}
  #solo_paraTi2{
  width: 500px; 
  height: 300px; 
  margin-top: 3%;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 12px;
  padding-top: 165px;
} 
#team{
  height: 1290px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:25px; 
    padding-top:25px; 
    } 

  #tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:15px; 
  padding-top:25px; 
  } 


.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 110px; 
  font-size: 11px;
} 

#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
}
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
  .navbar-custom .navbar-brand{
    font-size:2em;-webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s
  }
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
        }
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 
  }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
 }
 

@media(min-width:880px){
.marcoFoto{
  background-color: black; 
  height: 190px;
  margin: 15px 15px 15px 15px; 
  width: 155px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  margin-left: 35px;
  color:#fff;
}
}



@media(min-width:991px){
  #tituloFotos{
  text-align: left; 
  margin-top: 120px;
  letter-spacing: 0.5rem;
  font-size: 45px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  margin-left: 45px;
  color:#fff;
}
}



/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px){
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
  .navbar-custom.navbar-brand{
     font-size:2em;-webkit-transition:all .3s;
     -moz-transition:all .3s;transition:all .3s}
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
      }

      .ec-stars-wrapper a {
  text-decoration: none;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  margin-left: 68px;
  color:#fff;
}
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 0; 
    }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
  .marcoFoto{
  background-color: black; 
  height: 190px;
  margin: 15px 15px 15px 15px; 
  width: 21.3%;
}

#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 15px;
  }
}


