

/* Tablets en horizonal y escritorios normales*/
@media (min-width: 768px) {
  color:#fed136;
    .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(20%);
}

#punt{
  color: black;
  font-size: 13px;
  margin-left: 20px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 12px;
margin-left: 20px;
width: 45%
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-align: center;
  width: 45%;
}

#color_tiempo{
  color:#fed136;
}
#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:55px; 
padding-top: 40%; 
margin-left: 55%; 
color: #E1B423;
}
.marco_foto{
  background-color: #fff;
  height: 100px;
}
header{
  background-color: #fff;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 200px;
}
#tituloHeader{
color:#fff;
text-transform: uppercase;
text-align: center;
font-size: 30px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.2em;
}
section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:40px; 
  margin-top:50px; 
  text-align: left;
}
.col-md-8{
  padding-left: 0px !important;
}

.col-md-4{
  padding-right: 0px !important;

}

section#contact .section-heading{
  color:#fff;
}
.marco_chat{
background-color: #888;
height: 600px;
}
#nombre{
 color:#fed136;
 font-family: "Lato", sans-serif;
 font-weight: 200;
 text-align: left;
 font-size: 18px;
 background-color: #222;
}
#iniciar_chat
{
  background-color:gray;
  text-transform: uppercase;
  color: black;  
  width: 45%;
  margin-left: 20px;
  font-size: 15px;
}

#culminar_chat{
  background-color:#fec503;
  text-transform: uppercase;
  color: black;
  width: 45%;
  font-size: 15px;
}
#marco_videoChat{
background-color: gray;
height: 460px;
margin-top: 44px;
}
#marco_info{
  background-color: transparent;
  height: 235px;
}
  #titulo_info{
  font-size: 15px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300px;
  padding-top: 20px;
  padding-left: 20px;
}
#texto_info{
  color: black;
  padding-left: 15px;
  text-align: justify;
}


#texto_info{
  color: black;
  padding-left: 20px;
}
 #marco_datosChica{
background-color: #222;
height: 100px;
margin-top: 45px;
 }
#flag
{
  width: 40px;
  height: 20px;
  margin-left: 80%;
  margin-top: 20px;
}

  #edad{
color:#fff;
  }

.marco_foto{
  background-color: gray;
  height: 100px;
}
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 15px; 
  margin-top: 10px;
  text-align: left;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 15px;
}

#camarita_web{
  padding-left:6.5%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  height:850px; 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  background-position:center;
}

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  min-height: 850px;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 12%; 
  text-align: left;
  font-size:50px;
} 

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 21px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 12%; 
    text-align: center;
    font-size:50px;
  }

#tituloVideo3{ 
    padding-top: 20px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 21px;
  } 

.texto_02{font-family: "Lato"; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 18px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 21px;
  } 

.miralas_enVideo{
  background-color:black;
   height: 100px; 
   margin: 20px 12px 10px 0px;
  } 

.marcoFoto{
  background-color: black; 
  height: 150px; 
}
.nombre{
  margin-top: 40%; 
  font-size:12px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:8px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:40px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 21px;
  margin-top: 30px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 20%;
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 25%;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  text-align: left;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-right: 90%; 
  margin-bottom: 30px;
  font-size: 10px;
} 
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 3%;
  font-size: 12px;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 50px;
}

 #texto_08
 {
  color: black; 
  padding-top:8px;
  font-size: 12px;
 }

.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-left: 25%;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-right: 25%;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 15px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 14px;
color: white;
padding: 10px;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 80%;
margin-top: 10px;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 47%; 
    margin-top: 30px;
  } 
.bg-light-gray2{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
  #solo_paraTi2{
  width: 500px; 
  height: 300px; 
  margin-top: 3%;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 80px;
  font-size: 12px;
} 
#team{
  margin-top: 50px; 
  height: 690px; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png);
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:25px; 
    padding-top:25px; 
    } 

  #tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:15px; 
  padding-top:25px; 
  } 


.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 60px; 
  font-size: 12px;
} 

#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
}
#ingresa{
 margin-left: 12px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
  margin-right: 5px;
}
#marcoTituloHeader{
background-color: #404040;
margin-top: 95px;
 }

 #marcoNombreChica{
background-color: black;
margin-top: 100px;
 }



#nombre_chica{
color:#fed136;
text-align: center;
font-size: 30px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.1em;
}

#registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
}
  .navbar-custom{
    background-color:#222;
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
    .navbar-custom .navbar-brand{
      font-size:2em;-webkit-transition:all .3s;
      -moz-transition:all .3s;transition:all .3s}
      .navbar-custom .navbar-nav>.active>a{
        border-radius:3px;
        }
        .navbar-custom.affix{
          background-color:#222;
          padding:10px 
          }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
 }
 




/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px){
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
    .navbar-custom.navbar-brand{
      font-size:2em;-webkit-transition:all .3s;
      -moz-transition:all .3s;transition:all .3s}
      .navbar-custom .navbar-nav>.active>a{
        border-radius:3px;
      }
        .navbar-custom.affix{
          background-color:#222;
          padding:10px 0; 
        }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
}


