

/* Tablets en horizonal y escritorios normales*/
@media (min-width: 768px) {
#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:55px; 
padding-top: 60%; 
margin-left: 45%; 
color: #E1B423;
}
 #boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 40%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 13px;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
} 
#camarita_web{
  padding-left:8%; 
  padding-top: 13%; 
  margin-bottom: -5px;
} 
#reg{
  margin-right: 10px;
}
.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
  font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:uppercase;
  font-size: 10px;
  padding-left: 0px;
}

header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 590px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:40px; 
  margin-top:50px; 
  text-align: left;
}

section#contact .section-heading{
  color:#fff;
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 15px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 15px;
}

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:723px; width:100%;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 13%; 
  text-align: left;
  font-size:35px;
} 

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 18px;
  margin-left: 15px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 13%; 
    text-align: center;
    font-size:30px;
  }

#tituloVideo3{ 
    padding-top: 20px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 18px;
    margin-left: 15px;
  } 

.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 80px;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 16px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 15px;
  } 

.miralas_enVideo{
  background-color:black;
   height: 78px; 
   margin: 20px 8px 10px 32px !important;
   width: 80px !important;
  } 

.marcoFoto{
  background-color: black; 
  height: 150px; 
  margin-left: 3%; 
  margin-right: 3%; 
  margin-top: 2%;
  padding: 0;
} 
.marcoFoto img{
  height: 150px;  
  margin-top: 0%;
  width: 100%;
}
.nombre{
  margin-top: 40%; 
  font-size:12px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:8px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:40px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 21px;
  margin-top: 30px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 0%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: -6%;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  text-align: center !important;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-right: 90%; 
  margin-bottom: 30px;
  font-size: 13px;
} 
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 6.5%;
  font-size: 12px;
  background-color: transparent;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 50px;
}

 #texto_08
 {
  color: black; 
  padding-top:8px;
  font-size: 12px;
 }

.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 50% !important;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 50% !important;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 15px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 11.5px !important;
color: white;
padding: 10px;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 25%;
margin-top: 10px;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
   font-size: 13px;
    text-transform: uppercase; 
    margin-left: 47%; 
    margin-top: 30px;
  } 
.bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:400px; 
  width:200px;
  tranform: translateX(-50%);
}
  #solo_paraTi2{
  width: 50%; 
  height: 205px; 
  margin-top: 3%;
  margin-left: 18%;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  margin-top: 66px;
} 
#team{
  margin-top: 50px; 
  height: 720px; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:25px; 
    padding-top:25px; 
    } 

  #tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:15px; 
  padding-top:25px; 
  } 


.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 10px; 
  font-size: 9px;
  margin-top: 10px;
} 

#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
}
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
  .navbar-custom .navbar-brand{
    font-size:2em;-webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s
  }
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
        }
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 
  }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
 }
 
@media (min-width: 785px) {
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.miralas_enVideo{
  background-color:black;
   height: 78px; 
   margin: 20px 8px 10px 22px;
   width: 95px;
  }

.texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  margin-top: 20px;
  margin-left: 0%;
} 
#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 18px;
  } 

}

@media(min-width:790px){
  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 70px;
}
}

@media (min-width: 800px) {
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 70px;
}
#reg{
  margin-right: 0px;
}
.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
  font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:uppercase;
  font-size: 11px;
  padding-left: 0px;
}

}


@media (min-width: 820px) {
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 65px;
}
}

@media (min-width: 835px) {
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 60px;
}
}

@media (min-width: 855px) {
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 56px;
}
}

@media (min-width: 863px) {
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 71px;
}
}

@media (min-width: 865px) {
.miralas_enVideo{
  background-color:black;
   height: 100px; 
   margin: 20px 8px 10px 55px;
   width: 100px !important;
  }
}

@media (min-width: 875px) {
.miralas_enVideo{
  background-color:black;
   height: 95px !important; 
   margin: 20px 8px 10px 35px;
   width: 100px !important;
  }

  .miralas_enVideo img{
  background-color:black;
   height: 95px !important;
   width: 100%;
   margin: 0px;
  }
  .texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 45px;
}

.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 101px;
}
#reg{
  margin-right: -10px;
}
.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
  font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:uppercase;
  font-size: 11px;
  padding-left: 4px;
}
}


@media (min-width: 900px) {
.miralas_enVideo{
  background-color:black;
   height: 95px !important; 
   margin: 20px 8px 10px 35px;
   width: 100px !important;
  }
  .texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 35px;
}
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 95px;
}
}

@media(min-width:915px){
  #team{
  margin-top: 50px; 
  height: 520px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
  #solo_paraTi2{
  width: 53%; 
  height: 225px; 
  margin-top: 3%;
  margin-left: 20%;
  }

  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 91px;
}
}

@media (min-width: 930px) {
.miralas_enVideo{
  background-color:black;
   height: 95px !important; 
   margin: 20px 8px 10px 35px;
   width: 100px !important;
  }
  .texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 25px;
}
#reg{
  margin-right: 0px;
}
.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
  font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:uppercase;
  font-size: 11px;
  padding-left: 4px;
}

}

@media(min-width:940px){
  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 84px;
}
}

@media (min-width: 960px) {
.miralas_enVideo{
  background-color:black;
   height: 95px !important; 
   margin: 20px 8px 10px 45px !important;
   width: 100px !important;
  }
  .texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 15px;
}
  #solo_paraTi2{
  width: 50%; 
  height: 220px; 
  margin-top: 3%;
  margin-left: 18%;
  }
#team{
  margin-top: 50px; 
  height: 560px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
}

@media(min-width:965px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 78px;
}
} 

@media (min-width: 988px) {
.miralas_enVideo{
  background-color:black;
   height: 95px !important; 
   margin: 20px 8px 10px 35px;
   width: 100px !important;
  }
  .texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 25px;
}
}

@media (min-width: 991px){
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.texto_03{
  color: white; 
  width: 90%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 96px !important;
} 
.miralas_enVideo{
  background-color:black;
   height: 103px !important; 
   margin: 20px 8px 10px 45px !important;
   width: 100px !important;
  }

  .miralas_enVideo img{
  background-color:black;
   height: 103px !important;
   width: 100%;
   margin: 0px;
  } 
  #camarita_web{
  padding-left:4%; 
  padding-top: 5%; 
  margin-bottom: -5px;
} 
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 67px;
}
}

@media(min-width:992px){
  #reg{
  margin-right: 10px;
}
.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
  font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:uppercase;
  font-size: 11px;
  padding-left: 5px;

}


  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 18px !important;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; 
    font-size:14px !important; 
  } 

 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 12% !important; 
  font-size: 11px !important;
}
  #solo_paraTi2{
  width: 40%; 
  height: 215px; 
  margin-top: 3%;
  margin-left: 25%;
  }


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 85% !important;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 85% !important;
 } 

.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 15%;
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 21%;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  text-align: left !important;
 }

}

/*Tablets en horizonal y escritorios normales --QUEDE AQUIII---*/
@media (min-width: 1024px){
  .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 85px !important;
} 
#team{
  margin-top: 50px; 
  height: 590px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
   #solo_paraTi2{
  width: 45%; 
  height: 255px; 
  margin-top: 3%;
  margin-left: 21%;
  }
  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 88px;
}
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
  .navbar-custom.navbar-brand{
     font-size:2em;-webkit-transition:all .3s;
     -moz-transition:all .3s;transition:all .3s}
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
      }
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 0; 
    }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
}

@media(minwidth:1045px){

.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 56px !important;
}
}

@media (min-width: 1060px){
  .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 75px !important;
} 

}
@media(min-width:1080px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 83px;
}
}

@media (min-width: 1098px){
    .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 65px !important;
}

  .miralas_enVideo img{
  background-color:black;
   height: 120px !important;
   width: 100%;
   margin: 0px;
  }
.miralas_enVideo{
   height: 120px !important; 
   margin: 20px 8px 10px 55px;
   width: 130px !important;
  } 
  #team{
  margin-top: 50px; 
  height: 615px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
   #solo_paraTi2{
  width: 45%; 
  height: 265px; 
  margin-top: 3%;
  margin-left: 23%;
  }
  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 64px;
}
} 


@media (min-width: 1120px){
    .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 55px !important;
}
.miralas_enVideo{
   height: 120px !important; 
   margin: 20px 8px 10px 55px;
   width: 130px !important;
  }

#team{
  margin-top: 50px; 
  height: 625px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
   #solo_paraTi2{
  width: 45%; 
  height: 266px; 
  margin-top: 3%;
  margin-left: 23%;
  } 
} 


@media (min-width: 1160px){
    .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 45px !important;
}
.miralas_enVideo{
   height: 120px !important; 
   margin: 20px 8px 10px 55px;
   width: 130px !important;
  } 
  #boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 45%; 
    margin-top: 30px;
    font-size: 18px;
  } 

#team{
  margin-top: 50px; 
  height: 650px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
   #solo_paraTi2{
  width: 46%; 
  height: 275px; 
  margin-top: 3%;
  margin-left: 21%;
  }
} 

@media (min-width: 1190px){
    .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 35px !important;
}
.miralas_enVideo{
   height: 120px !important; 
   margin: 20px 8px 10px 55px;
   width: 130px !important;
  } 
  .texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 72px;
}
} 

@media(min-width:1200px){

#team{
  margin-top: 50px; 
  height: 665px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
#solo_paraTi2{
  width: 43%; 
  height: 300px; 
  margin-top: 3%;
  margin-left: 23%;
  }
   .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 8% !important; 
  font-size: 11px !important;
}
}

@media (min-width: 1210px){
    .texto_03{
  color: white; 
  width: 95%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 9px;
  padding-top: 25px !important;
}
.miralas_enVideo{
   height: 120px !important; 
   margin: 20px 8px 10px 55px;
   width: 130px !important;
  } 
} 

@media(min-width:1220px){
  #team{
  margin-top: 50px; 
  height: 680px !important; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png) !important;
}
   #solo_paraTi2{
  width: 44%; 
  height: 275px; 
  margin-top: 3%;
  margin-left: 23%;
  }
  }


@media(min-width:1245px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 67px;
}
}

@media(min-width:1260px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 63px;
}


@media(min-width:1270px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 60px;
}
}

@media(min-width:1274px){
.texto_02{
font-family: "Lato"; 
font-weight: 100;
font-size: 13px; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
margin-left: 15px;
padding-bottom: 58px;
}
}