.footer-distributed{
	background-color: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 25px 50px 25px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:16px;
	color:  #ffffff;
	margin: 25px 0 25px 0; 
	padding-top: 3px;	
	font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	padding: 0 2px;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	max-width: 180px;
}

.botonChat {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-align:center;
  font-size: 14px;
  background: #D89919;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}}

.footer-company-name{
	color: #8f9296;
	font-size: 14px;
	margin: 0;
	text-align: center;
}

.footer-distributed .footer-condiciones{
	color: #8f9296;
	font-size: 12px;
	margin: 0;
	line-height: 16px;
}

.zonaTitulo {
	color: #fff;
	font-size: 14px;
	text-align:center;
}

.zonaReg {
	color: #fff;
	font-size: 14px;
	text-align:center;
}

.advertenciaWrap {
	background-color:#111; 
	width:100%; 
	padding:10px 0 5px 0;
}

.advertencia {
	color: #fff;
	font-size: 12px;
	text-align:center;
}

.creditosWrap{
	background-color:#333;
	width:100%; 
	padding-top:10px; 
	padding-bottom: 10px
}

.creditos {
	text-align: center;
	font-family:"Lato";
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
	letter-spacing: 0.2em;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right .footer-condiciones{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
	.footer-basic-centered .footer-company-name {
		font-size: 12px;
		text-align: center;
	}
}
