
body {
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-primary {
  color: #fed136;
}

.btn-primary.active,.btn-primary:active,.btn-xl.active,.btn-xl:active,
.open .dropdown-toggle.btn-primary,.open .dropdown-toggle.btn-xl
{background-image:none} 

/*Móviles*/
@media (min-width:250px){

  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 30px;
}

#punt{
  color: black;
  font-size: 10px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 9px;
text-align: center;
margin-right: 0px;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  width: 85%;
}

#color_tiempo{
  color:#fed136; 
}

#tituloHome{
font-family: "Lato";
font-weight: 300; 
text-transform: uppercase; 
font-size:20px; 
padding-top: 230px; 
margin-left: 100px; 
color: #E1B423;
}

.col-xs-4{
  padding-left: 0px !important;
}

#tituloHeader{
color:#fff;
text-transform: uppercase;
text-align: center;
font-size: 16px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
}

#marcoTituloHeader{
background-color: #404040;
margin-top: 90px;
 }

 #marcoNombreChica{
background-color: black;
 }

#nombre_chica{
color:#fed136;
text-align: center;
font-size: 14px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.1em;
}


header{
  background-color: #fff;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 150px;
}
section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:20px; 
  margin-top:25px; 
  text-align: left;
}
section#contact .section-heading{
  color:#fff;
}
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
  text-align: left;
}
.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 12px;
}
.marco_chat{
  background-color: black;
  height: 250px;
}

#marco_videoChat{
background-color: gray;
height: 250px;
}
#iniciar_chat
{
  background-color:gray;
  text-transform: uppercase;
  color: black;  
  width: 40%;
  margin-left: 10px;
  font-size: 8px;
}

#culminar_chat{
  background-color:#fec503;
  text-transform: uppercase;
  color: black;
  width: 47%;
  font-size: 8px;
}
#nombre{
 color:#fed136;
 font-family: "Lato", sans-serif;
 font-weight: 200;
 text-align: left;
 font-size: 18px;
 background-color: #222;
}
#titulo_info{
  font-size: 16px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300px;
  padding-left: 20px;
  color: black;
}
#texto_info{
  color: black;
  padding-left: 20px;
  text-align: justify;
  font-size: 12px;
  margin-bottom: 15px;
}

#texto_info{
  color: black;
  padding-left: 20px;
  font-size: 10px;
}
#marco_info{
  background-color: transparent;
  height: 160px;
margin-top: 30px;
}
#flag
{
  width: 20px;
  height: 10px;
  margin-left: 70%;
}

 #marco_datosChica{
background-color: #222;
height: 70px;
margin-top: 20px;
 }

  #edad{
color:#fff;
  }

.marco_foto{
  background-color: gray;
  height: 70px;
}
#camarita_web{
  padding-left:7%; 
  padding-top: 4%; 
  margin-bottom: -5px;
}

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.marcoFoto2{
  background-color: black; 
  height: 70px;  
  margin-top: 2%; 
} 

#team{
  margin-top: 50px; 
  height: 500px; 
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
} 

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  min-height: 850px;
}
 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 20%; 
  text-align: left;
  font-size:20px;
}

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 14px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 3%; 
    text-align: center;
    font-size:15px;
    } 

#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 15px;
  }

.texto_02{font-family: "Lato", sans-serif; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
font-size: 10px;
} 
.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 5px;
}

  #tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 14px;
  }
  .miralas_enVideo{
  background-color:black;
   height: 50px;
   margin: 8px 8px 0px 0px;
  }


#tituloFotos{
  text-align: center; 
  margin-top: 100px;
  font-size: 
}

.marcoFoto{
  background-color: black; 
  height: 60px; 
  margin-left: 3%; 
  margin-right: 3%; 
  margin-top: 2%;
  margin-bottom: 5%;
} 
.nombre{
  margin-top: 5%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:5px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

  #tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.1em; 
  padding-top: 2%; 
  font-size:15px;
  } 

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size:10px;
  }
  .chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
 #boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
#tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top:10%;
  font-size:9px;
  background-color: rgba(128, 128, 128, 0.2);
  } 

#tituloFotos{
  text-align: center; 
  margin-top: 20px;
} 

 #texto_08
 {
  color: black; 
  padding-top:5px;
  font-size: 8px;
 }
 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 25%; 
  font-size: 8px;
} 
 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 20px;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 20px;
 }  

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 9px;
  text-transform: uppercase;
}
.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 10px;
}


#footer_enlace
{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.enlace
{
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 9px;
color: white;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 5px;
  background-color:#222;
  height: 100%;
  font-size: 12px;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:12px;
    padding-top: 12px
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 40%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 20px;
  }


#solo_paraTi{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

  #solo_paraTi2{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

.texto_03{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 10px; 
  font-size: 7px;
    padding: 2px 0px 2px 0px;
} 

.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 8px; 
  font-size: 7px;
} 

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 8px; 
  text-align: center; 
  color: black;
  margin-bottom: 12px; 
}

}

