
body {
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-primary {
  color: #fed136;
}

.btn-primary.active,.btn-primary:active,.btn-xl.active,.btn-xl:active,
.open .dropdown-toggle.btn-primary,.open .dropdown-toggle.btn-xl
{background-image:none} 

/*Móviles*/
@media (min-width:250px){

.team_a{
  height: 100%; 
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor1.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
} 
.team_b{
  height: 480px;
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor2.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;} 
}

.texto_03{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 27px; 
  font-size: 7px !important;
  padding: 2px 15px 2px 15px !important;
} 

.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 20px !important; 
  font-size: 8px !important;
}  

#tituloHome{
font-family: "Lato";
font-weight: 300; 
text-transform: uppercase; 
font-size:20px; 
padding-top: 230px; 
margin-left: 100px; 
color: #E1B423;
}

header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 300px;
}
section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:20px; 
  margin-top:25px; 
  text-align: left;
}
section#contact .section-heading{
  color:#fff;
}
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}
.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 12px;
}

#camarita_web{
  padding-left:7%; 
  padding-top: 4%; 
  margin-bottom: -5px;
}

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:723px;
background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  }
}
.marcoFoto2{
  background-color: black; 
  height: 70px;  
  margin-top: 2%; 
} 

#team{
  margin-top: 30px;
  background-image: url(../img/BOX-SHOWPRIVADO-compressor2.png);
  no-repeat fixed center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 100% !important;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 15%; 
  text-align: left;
  font-size:20px;
}

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 14px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 1%; 
    text-align: center;
    font-size:20px;
    } 

#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 15px;
  }
.miralas_enVideo {
  background-color:black;
   height: 66px !important;
   width: 70%;
   margin: 5px 5px 5px 30px;
  } 

  .miralas_enVideo img{
  background-color:black;
   height: 66px !important;
   width: 100%;
   margin: 0px;
  }

.texto_02{
  font-family: "Lato", sans-serif; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
font-size: 10px;
} 
.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 20px;
}

#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 20%; 
  margin-top: 20px; 
  margin-bottom: 10px;
}

  #tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 14px;
  margin-bottom: 20px;
}


#tituloFotos{
  text-align: center; 
  margin-top: 100px;
  font-size: 
}

.marcoFoto{
  background-color: black; 
  height: 60px; 
  margin-left: 3%; 
  margin-right: 3%; 
  margin-top: 2%;
  padding: 0;
} 
.marcoFoto img{
  height: 60px;  
  margin-top: 0%;
  width: 100%;
}
.nombre{
  margin-top: 100%; 
  font-size:7px !important; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left !important;
  } 
  .edad{ 
    font-size:6px !important; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left !important;
  }

  #tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:15px;
  } 

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size:10px;
  }
  .chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
 #boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
  margin: 10% 30% 0 30% !important;
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
#tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

.texto_05{ 
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top:11%;
  font-size:6.8px !important;
  background-color: transparent;
  width: 100%;
  } 

#tituloFotos{
  text-align: center; 
  margin-top: 20px;
} 

 #texto_08
 {
  color: black; 
  padding-top:5px;
  font-size: 8px;
  text-align: center;
 }
 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 45% !important; 
  font-size: 10px !important;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 9px !important;
color: white;
padding: 9px;
text-align: justify;
line-height: 1.4em;
} 
 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 20px;
  margin-left: 0% !important;
  width: 100%;
  padding-left: 5px !important;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 20px;
  margin-right: 0% !important;
  width: 100%;
  padding-left: 0px !important;
 }  
.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 9px;
  text-transform: uppercase;
}
.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 10px !important;
}


#footer_enlace
{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0px !important;
}
.enlace
{
  text-align: center !important;
  font-family: "Lato", sans-serif;
  font-size: 10px !important;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 9px;
color: white;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 5px;
  background-color:#222;
  height: 100%;
  font-size: 12px;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px !important;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:12px;
    padding-top: 12px;
    font-size: 12px !important;
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 40%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin:10% 35% 0 35%;
    margin-top: 20px;
    font-size: 11px;
  }

#tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px !important;
  } 

#solo_paraTi{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

  #solo_paraTi2{
  width: 80%; 
  max-height: 340px; 
  margin-top: 10%;
  transform: translateX(12%);
  }

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 8px; 
  text-align: center; 
  color: black;
  margin-bottom: 12px; 
}
}

@media(min-width:291px){

 .texto_05{
  margin-top: 15% !important;
 }

.nombre{
  margin-top: 120%; 
  font-size:7px !important; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left !important;
  } 

}
