
body {
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-primary {
  color: #fed136;
}

.btn-primary.active,.btn-primary:active,.btn-xl.active,.btn-xl:active,
.open .dropdown-toggle.btn-primary,.open .dropdown-toggle.btn-xl
{background-image:none} 

/*Móviles*/
@media (min-width:250px){

.ec-stars-wrapper a {
  text-decoration: none;
  /* Volver a dar tamaño al texto */
  font-size: 18px;
  font-size: 1.1rem;
  color:#fff;  
  padding-top: 2%;
  padding-left: 75%;
}
#imagenes{
  margin-top: 20px;
}
.ec-stars-wrapper:hover a {
  color:#fed136;
}
#tituloFotos{
  text-align: center; 
  margin-top: 120px;
  font-size: 20px;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#fed136;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -30px;
    margin-bottom: 20px;
  }
#puntuacion{
transform: translateX(20%);
}
#tituloHome{
font-family: "Lato";
font-weight: 300; 
text-transform: uppercase; 
font-size:20px; 
padding-top: 230px; 
margin-left: 100px; 
color: #E1B423;
}
.marcoFotoGrande{
  background-color: black; 
  height: 155px; 
  margin-top: 20px;
}
.marcoFoto{
  background-color: black; 
  height: 60px; 
  margin-left: 5%; 
  margin-right: 1.3%; 
  margin-top: 4%;
  width: 45px;
} 
#flag
{
  width: 20px;
  height: 15px;
  margin-top: 330%;
  margin-left: -97%;
}
header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 300px;
}
section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:12px; 
  margin-top:5px; 
  text-align: left;
}
section#contact .section-heading{
  color:#fff;
}
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}
.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 12px;
}

#camarita_web{
  padding-left:7%; 
  padding-top: 4%; 
  margin-bottom: -5px;
}

.bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor4.png);
background-repeat: no-repeat;
  } 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor3.png);
background-repeat: no-repeat;
  }

.marcoFoto2{
  background-color: black; 
  height: 70px;  
  margin-top: 2%; 
} 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  margin-top: 3px !important;
  } 
#tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #D89919;
  } 

#marco_info{
  background-color: transparent;
  height: 235px;
}
  .titulo_info{
  font-size: 10px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 8px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 8px;
}
  #tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
  }
    #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 47%;
    margin-bottom: 10px;
     margin-top: 0px !important;
  }
#team{
  height: 500px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;} 

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 8%; 
  text-align: left;
  font-size:20px;
}

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 14px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 3%; 
    text-align: center;
    font-size:15px;
    } 

#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 15px;
  }

.texto_02{font-family: "Lato", sans-serif; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
font-size: 10px;
} 
.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 20px;
}

#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 20%; 
  margin-top: 20px; 
  margin-bottom: 10px;
}

  #tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 14px;
  }
  .miralas_enVideo{
  background-color:black;
   height: 45px;
   margin: 8px 15px 0px 20px;
  }
  .nombre1{
  margin-top: 145%; 
  font-size:13px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  } 
  .edad1{ 
    font-size:10px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#check{
height: 18px;
width: 18px;
}
.col-xs-8, .col-xs-4{
  padding-left: 0% !important;
  padding-right: 0% !important;
}
   #top20{
    color: #fff;
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 10px;
    text-align: right;
  }
#registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
}
#ingresa{
 margin-left: 20px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
 margin-right: 5px;
}

.nombre{
  margin-top: 280%; 
  font-size:7px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:5px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

  #tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.1em; 
  padding-top: 2%; 
  font-size:15px;
  } 

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size:10px;
  }
  .chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
 #boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
#tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

.texto_05{ 
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top:30%;
  font-size:6.8px;
  background-color: transparent;
  width: 100%;
  } 

 #texto_08
 {
  color: black; 
  padding-top:5px;
  font-size: 8px;
  text-align: center;
 }
 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 25%; 
  font-size: 8px;
} 
 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 20px;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 20px;
 }  

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 9px;
  text-transform: uppercase;
}
.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 10px;
}


#footer_enlace
{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.enlace
{
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 9px;
color: white;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 5px;
  background-color:#222;
  height: 100%;
  font-size: 12px;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:12px;
    padding-top: 12px
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 40%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 20px;
  }


#solo_paraTi{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

  #solo_paraTi2{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

.texto_03{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 18px; 
  font-size: 7px;
  padding: 2px 0px 2px 0px;
} 

.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 40px; 
  font-size: 8px;
} 

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 8px; 
  text-align: center; 
  color: black;
  margin-bottom: 12px; 
}

}

@media(min-width:290px){
.nombre1{
  margin-top: 125%; 
  font-size:13px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
  #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 290%;
  margin-left: -97%;
}
#imagenes{
  margin-top: 15px;
}
.col-xs-12, .col-lg-3{
    padding-left: 0px !important;
  }
.marcoFoto{
  background-color: black; 
  height: 70px;
  margin-left: 2%;
  margin-top: 4%;
  width: 57px;
}
.nombre{
  margin-top: 200%; 
  font-size:7px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 


  .edad{ 
    font-size:5px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
.titulo_info{
  font-size: 11px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 9px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 9px;
}
}

