

.colorTitulos{
  color: #D89919;
} 


body{
  overflow-x:hidden;
  font-family:"Lato","Helvetica Neue",sans-serif;
  webkit-tap-highlight-color:#fed136;
  }

.btn-primary,.btn-xl,h1,h2,h3,h4,h5,h6
{font-family:"Lato",sans-serif;
text-transform:uppercase;
font-weight:700
}


.text-primary,a
{
  color:#fed136
}

p{
  font-size:14px;
  line-height:1.75
}

p.large{
font-size:16px
}

a,a.active,a:active,a:focus,a:hover{
outline:0
}

a.active,a:active,a:focus,a:hover
{color:#fec503
}

.img-centered{
  margin:0 auto
}   

#tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:13px;
  } 


#img-tv-video{
  margin-top: 3%;
  } 


#subtituloFotos{
  font-family: "Lato"; 
  font-weight: 400; 
  text-align: center;
  } 


#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  } 


p{
  font-family:"Lato"; 
  font-weight: 400;
}
  
 
    

/* Tablets en horizonal y escritorios normales*/
@media (min-width: 768px) {

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
}

#punt{
  color: black;
  font-size: 13px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 12px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  width: 75%;
  margin-left: 17px;
}

#color_tiempo{
  color:#fed136;
}


#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:55px; 
padding-top: 40%; 
margin-left: 55%; 
color: #E1B423;
}

header{
  background-color: #fff;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 200px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:40px; 
  margin-top:50px; 
  text-align: left;
}

section#contact .section-heading{
  color:#fff;
}

#tituloHeader{
color:#fff;
text-transform: uppercase;
text-align: center;
font-size: 28px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.2em;
}
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 15px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 15px;
}

#camarita_web{
  padding-left:6.5%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  min-height: 820px;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 12%; 
  text-align: left;
  font-size:50px;
} 

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 21px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 12%; 
    text-align: center;
    font-size:50px;
  }

#tituloVideo3{ 
    padding-top: 20px; 
    text-transform: uppercase; 
    color:white; 
    text-align: left; 
    font-size: 21px;
  } 

.texto_02{font-family: "Lato"; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 18px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 21px;
  } 

.miralas_enVideo{
  background-color:black;
   height: 100px; 
   margin: 20px 12px 10px 0px;
  } 

.marcoFoto{
  background-color: black; 
  height: 150px; 
}
.nombre{
  margin-top: 40%; 
  font-size:12px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:8px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:40px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 21px;
  margin-top: 30px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 40px;
  padding-top: 20%;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 23px;  
  padding-top: 20%;
  text-align: left;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  text-align: left;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-right: 90%; 
  margin-top: 10px; 
  margin-bottom: 30px;
} 
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  margin-top: 3%;
  font-size: 12px;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 50px;
}

 #texto_08
 {
  color: black; 
  padding-top:8px;
  font-size: 12px;
 }

.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-left: 25%;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-right: 25%;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 15px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 14px;
color: white;
padding: 10px;
text-align: center;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}

  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 80%;
margin-top: 10px;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 47%; 
    margin-top: 30px;
  } 
  #titulo_info{
  font-size: 25px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300px;
  padding-left: 20px;
  padding-top: 0px;
  color: black;
}
#texto_info{
  color: black;
  padding-left: 20px;
  text-align: justify;
  font-size: 12px;
  color: black;
}
.bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:400px; 
  width:200px;
  tranform: translateX(-50%);
}
  #solo_paraTi2{
  width: 500px; 
  height: 300px; 
  margin-top: 3%;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 80px;
  font-size: 12px;
} 
#team{
  margin-top: 50px; 
  height: 690px; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png);
}

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:25px; 
    padding-top:25px; 
    } 

  #tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:15px; 
  padding-top:25px; 
  } 


.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 60px; 
  font-size: 12px;
} 
 #marcoNombreChica{
background-color: black;
margin-top: 120px;
 }
#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }
#nombre_chica{
color:#fed136;
text-align: center;
font-size: 28px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.1em;
}
 #marcoTituloHeader{
background-color: #404040;
margin-top: 120px;
 }
#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
}
  .navbar-custom{
    background-color:#222;
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
    .navbar-custom .navbar-brand{
      font-size:2em;-webkit-transition:all .3s;
      -moz-transition:all .3s;transition:all .3s}
      .navbar-custom .navbar-nav>.active>a{
        border-radius:3px;
        }
        .navbar-custom.affix{
          background-color:#222;
          padding:10px 
          }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
 }
 
@media (min-width:992px){
   #marcoNombreChica{
background-color: black;
margin-top: 100px;
 }

 #marcoTituloHeader{
background-color: #404040;
margin-top: 100px;
 }
}



/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px){
  .navbar-custom{
    background-color:#222;
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
    .navbar-custom.navbar-brand{
      font-size:2em;-webkit-transition:all .3s;
      -moz-transition:all .3s;transition:all .3s}
      .navbar-custom .navbar-nav>.active>a{
        border-radius:3px;
      }
        .navbar-custom.affix{
          background-color:#222;
          padding:10px 0; 
        }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
}


.bg-darkest-gray{
  background-color:#222
  }

.btn-primary{
  color:#fff;
  background-color:#fed136;
  border-color:#fed136;
  }

.btn-primary.active,.btn-primary:active,.btn-primary:focus,
.btn-primary:hover,.open .dropdown-toggle.btn-primary{
  color:#fff;
  background-color:#fec503;
  border-color:#f6bf01;
  }

.btn-primary.disabled,.btn-primary.disabled.active,
.btn-primary.disabled:active,.btn-primary.disabled:focus,
.btn-primary.disabled:hover,.btn-primary[disabled],
.btn-primary[disabled].active,.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover{
background-color:#fed136;
border-color:#fed136;
}

.btn-primary .badge
{
  color:#fed136;
  background-color:#fff;
}

.btn-xl{
  color:#fff;
  background-color:#fed136;
  border-color:#fed136;
  border-radius:3px;
  font-size:18px;
  padding:20px 40px
  }

  .btn-xl.active,.btn-xl:active,.btn-xl:focus,.btn-xl:hover,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#fec503;border-color:#f6bf01}.btn-xl.disabled,.btn-xl.disabled.active,.btn-xl.disabled:active,.btn-xl.disabled:focus,.btn-xl.disabled:hover,.btn-xl[disabled],.btn-xl[disabled].active,.btn-xl[disabled]:active,.btn-xl[disabled]:focus,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl,fieldset[disabled] .btn-xl.active,fieldset[disabled] .btn-xl:active,fieldset[disabled] .btn-xl:focus,fieldset[disabled] .btn-xl:hover{background-color:#fed136;border-color:#fed136}.btn-xl .badge{color:#fed136;background-color:#fff}.navbar-custom{background-color:#222;border-color:transparent;}.navbar-custom .navbar-brand{color:#fed136;font-family:"Lato", sans-serif;}.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover{color:#fec503}.navbar-custom .nav li a,.navbar-custom .navbar-toggle{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;color:#fff;text-transform:uppercase}.navbar-custom .navbar-collapse{border-color:#222}.navbar-custom .navbar-toggle{background-color:#fed136;border-color:#fed136;font-size:12px}.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover{background-color:#fed136}.navbar-custom .nav li a{font-weight:400;letter-spacing:1px}.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover{color:#fed136;outline:0}.navbar-custom .navbar-nav>.active>a{border-radius:0;color:#fff;background-color:#fed136}.navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.active>a:hover{color:#fff;background-color:#fec503}@media (min-width:768px){.navbar-custom{background-color:#222;padding:10px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:none}.navbar-custom .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-custom .navbar-nav>.active>a{border-radius:3px}.navbar-custom.affix{background-color:#222;padding:10px 0}.navbar-custom.affix .navbar-brand{font-size:1.5em}}header .intro-text{padding-top:100px;padding-bottom:50px}header .intro-text .intro-lead-in{font-family:"Lato",sans-serif;font-size:22px;line-height:22px;margin-bottom:25px; font-weight:100}header .intro-text .intro-heading{font-family:"Lato", sans-serif;text-transform:uppercase;font-weight:100;font-size:50px;line-height:50px;margin-bottom:25px}@media (min-width:768px){header .intro-text{padding-top:300px;padding-bottom:200px}header .intro-text .intro-lead-in{font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}header .intro-text .intro-heading{font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}}#portfolio .portfolio-item .portfolio-caption p,section h3.section-subheading{font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic}section{padding:100px 0} .marcoFoto2{background-color: black; height: 150px; margin-left: 3%; margin-right: 3%; margin-top: 2%; margin-bottom: 2%; } #boton_contrata{background-color:#D89919; font-family: "Lato"; font-weight:400; color:black; text-transform: uppercase; margin-left: 40%; margin-top: 30px; margin-bottom: 30px;} #subtiltuloSecund{font-family: "Lato"; font-weight: 400; text-transform: uppercase; font-size: 10px; text-align: center; color: black; } hr{height:3px; width: 100%; background-color: #c0c0c0; margin-right: 60%;} section h3.section-subheading{font-size:16px;text-transform:none;font-weight:400;margin-bottom:20px}@media (min-width:768px){section{padding:0px 0}}.service-heading{margin:15px 0;text-transform:none}#portfolio .portfolio-item{margin:0 0 15px;right:0}#portfolio .portfolio-item .portfolio-link{display:block;position:relative;max-width:400px;margin:0 auto}#portfolio .portfolio-item .portfolio-link .portfolio-hover{background:rgba(254,209,54,.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{opacity:1}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{position:absolute;width:100%;height:20px;font-size:20px;text-align:center;top:50%;margin-top:-12px;color:#fff}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{margin-top:-12px}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{margin:0}#portfolio .portfolio-item .portfolio-caption{max-width:400px;margin:0 auto;background-color:#fff;text-align:center;padding:25px}#portfolio .portfolio-item .portfolio-caption h4{text-transform:none;margin:0} #portfolio .portfolio-item .portfolio-caption p{font-size:16px;margin:0}footer span.copyright,footer ul.quicklinks{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif}#portfolio *{z-index:2}@media (min-width:767px){#portfolio .portfolio-item{margin:0 0 30px}}.timeline{list-style:none;padding:0;position:relative}.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}.timeline>li{margin-bottom:50px;position:relative;min-height:50px}.timeline>li:after,.timeline>li:before{content:" ";display:table}.timeline>li:after{clear:both}.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 100px;position:relative;text-align:left}.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#fed136;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 100px}.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li:last-child{margin-bottom:0}.timeline .timeline-heading h4{margin-top:0;color:inherit}.timeline .timeline-heading h4.subheading{text-transform:none}.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}@media (min-width:768px){.timeline:before{left:50%}.timeline>li{margin-bottom:100px;min-height:100px}.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}}@media (min-width:992px){.timeline>li .timeline-panel,.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}.timeline>li{min-height:150px}.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}}@media (min-width:1200px){.timeline>li{min-height:170px}.timeline>li .timeline-panel{padding:0 20px 20px 100px}.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}.timeline>li .timeline-image h4{margin-top:40px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 100px 20px 20px}}.team-member{text-align:center;margin-bottom:50px}.team-member img{margin:0 auto;border:7px solid #fff}  .team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}.team-member p{margin-top:0}aside.clients img{margin:50px auto}section#contact{background-color:#222;background-image:url(../img/map-image.png);background-position:center;background-repeat:no-repeat}section#contact .form-group{margin-bottom:25px}section#contact .form-group input,section#contact .form-group textarea{padding:20px}section#contact .form-group input.form-control{height:auto}section#contact .form-group textarea.form-control{height:236px}section#contact .form-control:focus{border-color:#fed136;box-shadow:none}section#contact ::-webkit-input-placeholder{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}section#contact :-moz-placeholder{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}section#contact ::-moz-placeholder{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}section#contact :-ms-input-placeholder{font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}section#contact .text-danger{color:#e74c3c}footer{padding:25px 0;text-align:center}footer span.copyright{line-height:20px;text-transform:uppercase;text-transform:none}footer ul.quicklinks{margin-bottom:0;line-height:40px;text-transform:uppercase;text-transform:none}ul.social-buttons{margin-bottom:0}ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{background-color:#fed136}.btn.active,.btn:active,.btn:active:focus,.btn:focus{outline:0}.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:none;min-height:100%;padding:100px 0;text-align:center}.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}.portfolio-modal .modal-content p{margin-bottom:30px}.portfolio-modal .modal-content p.item-intro{margin:20px 0 30px;font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px}.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0}.portfolio-modal .modal-content img{margin-bottom:30px}.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px;cursor:pointer}.portfolio-modal .close-modal:hover{opacity:.3}.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}.portfolio-modal .modal-backdrop{opacity:0;display:none}::-moz-selection{text-shadow:none;background:#fed136}::selection{text-shadow:none;background:#fed136}img::selection{background:0 0}img::-moz-selection{background:0 0}
 




 #ingresa{
 margin-left: 20px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
 margin-right: 5px;
}

#registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
}

#team2{
  height: 690px;
  background-image: url(../img/BOX-CHAT-compressor.png);
  height: 390px;
}

 #footerSeccion7
 {
  background-color: #e0e0e0;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
 }


 #footer_
 {
  background-color: black; 
  height: 100%; 
  width: 100%;
 }


@media (min-width: 768px) {

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
  margin-left: 15px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 30px;
}

#punt{
  color: black;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 12px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  width: 60%;
}

#color_tiempo{
  color:#fed136;
}

}

@media (min-width: 915px) {

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
  margin-left: 15px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 30px;
}

#punt{
  color: black;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 12px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  width: 57%;
}

#color_tiempo{
  color:#fed136;
}


}

@media (min-width: 1200px) {

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 2.3rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(9%);
margin-top: 20px !important;
}

#punt{
  color: black;
  font-size: 15px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 14px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 45px;
  text-align: center;
  width: 45%;
  margin-left: 15px;
}

#color_tiempo{
  color:#fed136;
}

}

