/*RESPONSIVE*/
@media only screen and (min-device-width: 400px) and (max-device-width: 580px) and (orientation: portrait) {
  /*cerca de ti*/
  .buscador {
    background-color: #000;
    width: 100%;
    margin-top: 5px;
    height: 340px;
  }
  .elige p {
    font-size: 20pt;
    color: #FFF;
    text-align: center;
    margin-top: 16px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .ubica p {
    font-size: 12pt;
    color: #FFF;
    text-align: left;
    margin-left: 10px;
    margin-top: 16px;
    font-family: "Lato", sans-serif;
  }
  .buscar {
    border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .boton-buscar {
    border-radius: 0px 20px 20px 00px;
    -moz-border-radius: 0px 20px 20px 00px;
    -webkit-border-radius: 0px 20px 20px 00px;
  }
  .ordena table {
    border-collapse: separate;
    border-spacing: 4px;
  }
  .ordena p {
    font-size: 11pt;
    color: #FFF;
    text-align: right;
    font-family: "Lato", sans-serif;
    margin-left: 75px;
  }
  .boton-edad {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .boton-ASC {
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .compara {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 30px 115px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin-top: 16px;
    margin-left: 9px;
  }
  .categorias {
    margin-top: 10px;
    height: 35px;
    background-color: #000;
  }
  .categorias ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    position: absolute;
    margin: 0 auto;
    text-align: center;
  }
  .categorias li {
    float: left;
  }
  .categorias li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .categorias li a:hover {
    background-color: #FEA808;
  }
  .grid-cerca {
    margin-top: 120px;
    margin-bottom: 70px;
  }
  .ver_mas button {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    position: absolute;
    margin: 0 auto;
    margin-left: 4em;
    left: 0;
    right: 0;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  /*****************************SALA COMPATIDA ******************************************/
  .sala_comp {
    background-color: #2B2B2B;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    height: 120px;
    width: 100%;
  }
  .comparte {
    margin-top: 12px;
    text-align: center;
    font-size: 16pt;
    color: #FFF;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .usu {
    margin-top: 10px;
    text-align: center;
    font-size: 22pt;
    color: #EBA230;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .video_sala {
    background-image: url(../img/FONDO-VIDEO-EN-VIVO.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    width: 100%;
    height: 80%;
  }
  .video_s video {
    margin-top: 150px;
    margin-left: 25px;
    width: 385px;
  }
  .informacion {
    margin-top: 30px;
  }
  .informacion_sala p {
    text-align: left;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 16pt;
    padding-left: 15px;
    color: #FFF;
    float: left;
    font-weight: bold;
  }
  .descripcion_sala p {
    font-size: 12pt;
    margin-top: 50px;
    color: #FFF;
    width: 380px;
    font-family: "Lato", sans-serif;
    margin-left: 10px;
  }
  .separa_chat {
    width: 100%;
    margin-top: -1px;
  }
  .chat {
    background-color: #2F2F2F;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
  .opciones {
    height: 330px;
    width: 100%;
    margin-top: 40px;
  }
  .opciones p {
    font-size: 23pt;
    text-align: center;
    margin-left: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .conoce {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin-left: 4em;
    margin-top: 60px;
    font-weight: bold;
  }
  .rectangulo {
    width: 190px;
    height: 70px;
    background: #000;
    float: left;
    margin-top: 65px;
    margin-left: 7em;
  }
  .rectangulo1 {
    color: #FEA808;
    font-size: 35pt;
    text-align: center;
  }
  .rectangulo2 {
    color: #FFF;
    font-size: 12pt;
    margin-left: 10px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .informacion_iconos {
    margin-top: 30px;
  }
  .iconos table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px 4px;
    margin-left: 2em;
    align-content: center;
  }
  .iconos img {
    max-width: 60px;
  }
  .iconos p {
    color: #000;
    font-size: 13pt;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  .puntuaciones_sala {
    margin-top: 20px;
    margin-left: 1em;
  }
  .puntuaciones_sala p {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    margin-left: 6em;
    color: #000;
  }
  /*-------------------------------CHAT SALA COMPARTIDA-----------------------------------*/
  .boxContenedor {
    width: 99%;
    height: 100px;
    overflow: scroll;
  }
  /* ---------- Carga de Img ---------- */
  #carga_img {
    margin: 50px auto;
    width: 350px;
  }
  #carga_img form span {
    background-color: #FFF;
    opacity: .70;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
  #carga_img form input,
  button {
    height: 50px;
  }
  #carga_img form input[type="file"],
  input[type="file"] {
    background-color: #FFF;
    opacity: .80;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 300px;
  }
  #carga_img form button {
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    background-color: #E1B423;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
    margin-left: 33px;
  }
  #carga_img form button:hover {
    background-color: #DDD;
  }
  #carga_img > p {
    text-align: center;
  }
  /* ---------- Carga de sonido ---------- */
  #carga_sound {
    margin: 50px auto;
    width: 350px;
  }
  #carga_sound form span {
    background-color: #FFF;
    opacity: .70;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
  #carga_sound form input,
  button {
    height: 50px;
  }
  #carga_sound form input[type="file"],
  input[type="file"] {
    background-color: #FFF;
    opacity: .80;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 300px;
  }
  #carga_sound form button {
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    background-color: #E1B423;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
    margin-left: 33px;
  }
  #carga_sound form button:hover {
    background-color: #DDD;
  }
  #carga_sound > p {
    text-align: center;
  }
  /* cerca de ti comparativo*/
  .comparativo {
    background-color: #E4E4E4;
  }
  .comparando {
    background-color: #000;
    height: 100%;
    width: 95%;
    margin-top: 90px;
    margin-left: 10px;
  }
  .fotos-modelo {
    margin-top: 60px;
  }
  .portada img {
    border-radius: 50%;
    margin-left: 6em;
  }
  .caracteristicas table {
    border-collapse: separate;
    border-spacing: 30px 4px;
  }
  .caracteristicas th {
    font-size: 20pt;
    color: #FEA808;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  .caracteristicas td {
    font-size: 9pt;
    color: #FFF;
    font-family: "Lato", sans-serif;
  }
  .modelo {
    margin-top: 20px;
  }
  .titulo-cdt {
    font-size: 15pt;
    color: #FEA808;
    font-family: "Lato", sans-serif;
    margin-left: 10px;
  }
  .descripcion-cdt {
    font-size: 12pt;
    color: #FFF;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 7px;
    margin-right: 10px;
  }
  .contacto {
    width: 320px;
    height: 90px;
    background: #FEA808;
    float: right;
    margin-top: 47px;
    margin-right: 10px;
  }
  .contacto p {
    font-size: 12pt;
    color: #000;
    font-family: "Lato", sans-serif;
    text-align: right;
    text-transform: uppercase;
    margin-right: 2em;
    float: right;
    margin-top: 5px;
    font-weight: bold;
  }
  .contacto img {
    max-width: 90px;
    float: left;
    margin-left: 2px;
    margin-top: 19px;
  }
  .puntuaciones {
    margin-left: 2em;
    margin-top: 20px;
  }
  .puntuaciones h1 {
    font-family: "Lato", sans-serif;
    color: #FEA808;
    font-size: 32pt;
    margin-left: 10px;
  }
  .puntuaciones p {
    font-family: "Lato", sans-serif;
    margin-left: 5em;
    font-size: 14pt;
    color: #FFF;
  }
  .ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
    margin-left: 65px;
  }
  .ec-stars-wrapper a {
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 22px;
    font-size: 4rem;
    color: #888;
    text-decoration: none;
  }
  .ec-stars-wrapper:hover a {
    color: #FEA808;
    text-decoration: none;
  }
  .ec-stars-wrapper > a:hover ~ a {
    color: #888;
    text-decoration: none;
  }
  .muro_modelo {
    margin-top: 5em;
  }
  .publicaciones p {
    font-family: "Lato", sans-serif;
    color: #FFF;
    font-size: 18pt;
    margin-left: 40px;
  }
  .mensaje {
    width: 370px;
    height: 200px;
    background: #2B2B2B;
    opacity: 0.7;
    margin-top: 40px;
    margin-left: 10px;
  }
  .mensaje p {
    font-family: "Lato", sans-serif;
    color: #FEA808;
    font-size: 19px;
    font-weight: bold;
  }
  .preferencias {
    margin-top: 20px;
  }
  .preferencias p {
    font-family: "Lato", sans-serif;
    color: #FFF;
    font-size: 18pt;
    margin-left: 40px;
  }
  .info_pref p {
    font-family: "Lato", sans-serif;
    color: #FEA808;
    font-size: 13pt;
    margin-top: 15px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ico_pref {
    margin-top: 25px;
  }
  .ico_pref table {
    border-collapse: separate;
    border-spacing: 17px 2px;
    align-content: center;
  }
  .ico_pref img {
    max-width: 120px;
  }
  .ico_pref td {
    font-family: "Lato", sans-serif;
    color: #FFF;
    font-size: 12pt;
    text-align: center;
  }
  .normas_m {
    margin-top: 25px;
  }
  .n1 {
    width: 300px;
    height: 230px;
    background: #000;
    margin-left: 10px;
  }
  .n1 ul {
    margin-top: 10px;
    margin-left: 15px;
    list-style-type: disc;
    color: #FFF;
    font-size: 15px;
    text-align: left;
  }
  .n2 {
    width: 280px;
    height: 230px;
    background: #000;
    margin-left: 10px;
  }
  .n2 table {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    border-collapse: separate;
    border-spacing: 25px 14px;
  }
  .contratar {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 25px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 10px;
  }
  .pie_comparando {
    background: #2B2B2B;
    height: 100%;
    width: 95%;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .pie_comparando h1 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    font-size: 27pt;
    color: #FFF;
  }
  .pie_comparando p {
    font-family: "Lato", sans-serif;
    margin-left: 5em;
    font-size: 35pt;
    color: #FEA808;
    margin-top: 25px;
    font-weight: bold;
  }
  .verm_modelos {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-top: -40px;
    margin-left: 2em;
    margin-bottom: 15px;
  }
  /*registro de cliente*/
  .registro {
    margin-top: 80px;
  }
  .registro h1 {
    font-size: 35pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FEA808;
  }
  .registro p {
    font-size: 15pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .registro img {
    display: none;
  }
  .registro img #header-registro {
    margin-top: 50px;
    height: 70px;
  }
  .formulario {
    width: 95%;
    height: 920px;
    background: #000;
    margin-top: 2em;
    opacity: 0.8;
    margin-left: 1em;
    margin-bottom: 80px;
  }
  .formulario h1 {
    font-size: 25pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .formulario label {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 15px;
    margin-left: 10px;
  }
  .formulario button {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 30px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15pt;
    position: absolute;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 3em;
  }
  .formulario p {
    margin-top: 8px;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    text-align: center;
    margin-left: -1px;
  }
  .formulario a {
    color: #FEA808;
    text-decoration: none;
  }
  .formulario h4 {
    color: #FFF;
    text-align: center;
    margin-left: 1em;
    margin-top: 90px;
  }
  /*Registro de Modelo*/
  .registro-modelo {
    margin-top: 100px;
  }
  .registro-modelo h1 {
    font-size: 15pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FEA808;
  }
  .registro-modelo p {
    font-size: 12pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .registro-modelo img {
    display: none;
  }
  .formulario-modelo {
    width: 98%;
    height: 100%;
    background: #000;
    margin-top: 20px;
    opacity: 0.7;
    margin-left: 7px;
    margin-bottom: 80px;
  }
  .formulario-modelo h1 {
    font-size: 20pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .formulario-modelo label {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 15px;
  }
  .formulario-modelo button {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22pt;
    position: absolute;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 1em;
  }
  .formulario-modelo p {
    margin-top: 10px;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    text-align: center;
    margin-left: 10px;
  }
  .formulario-modelo a {
    color: #FEA808;
    text-decoration: none;
  }
  .formulario-modelo h4 {
    color: #FFF;
    text-align: center;
    margin-left: 8px;
    margin-top: 110px;
    font-family: "Lato", sans-serif;
  }
  /*Login de Modelo y cliente*/
  .login {
    margin-top: 80px;
  }
  .login h1 {
    font-size: 35pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: right;
    color: #FEA808;
    margin-right: 20px;
  }
  .login p {
    font-size: 20pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    color: #000;
    margin-right: 1em;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .login img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
  .recuerdame {
    margin-left: 9em;
  }
  .formulario-login {
    width: 80%;
    height: 400px;
    background: #000;
    margin-top: -31em;
    opacity: 0.5;
    margin-left: 3em;
    margin-bottom: 200px;
  }
  .formulario-login h1 {
    font-size: 20pt;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .formulario-login label {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 15px;
  }
  .formulario-login button {
    background-color: #FEA808;
    border: none;
    color: #000;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    position: absolute;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 2em;
  }
  .formulario-login a {
    color: #FEA808;
    text-decoration: none;
  }
  .formulario-login h4 {
    color: #FFF;
    text-align: center;
    margin-left: 8px;
    margin-top: 80px;
    font-size: 15pt;
  }
}
/*# sourceMappingURL=responsive.css.map */