

/* Tablets*/


@media (min-width: 320px) {

    .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 60%;
  color:#fff;
}
#imagenes{
  margin-top: 15px;
}
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 57px;
}
.nombre{
  margin-top: 160%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

    #top20{
    color: #fff;
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 10px;
    text-align: right;
  }
  #tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
  }
  #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
   text-transform: uppercase; 
   margin-left: 47%;
   margin-bottom: 20px;
  margin-top: 0px !important;
  }
#tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #D89919;
  } 
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 45%;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 12px;
  }
.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}
.marcoFotoGrande {
  background-color: black; 
  height: 180px; 
  margin-top: 25px;
}
.titulo_info{
  font-size: 13px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 10px;
}
.nombre1{
  margin-top: 125%; 
  font-size:15px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
  #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 265%;
  margin-left: -120%;
}


#puntuacion{
transform: translateX(20%);
}
#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:33px; 
padding-top: 295px; 
margin-left: 30%; 
color: #E1B423;
}
.bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor4.png);
background-repeat: no-repeat;
  } 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor5.png);
background-repeat: no-repeat;
  }
#team{
  height: 470px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

  #registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
}
#ingresa{
 margin-left: 20px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
 margin-right: 5px;
}

  .edad1{ 
    font-size:13px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #D89919;
  } 

#marco_info{
  background-color: transparent;
  height: 235px;
}

  #tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
    header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 390px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:20px; 
  margin-top:25px; 
  text-align: left;
}

section#contact .section-heading{
  color:#fff;
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 11px;
}

#camarita_web{
  padding-left:36%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 40%; 
  margin-top: 30px; 
  margin-bottom: 30px;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 10%; 
  text-align: left;
  font-size:30px;
} 

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 17px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:25px;
    width: 100%;
  }

height: 60px;
}

#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:18px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 14px;
  margin-top: 10px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
}
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 10px;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 120px;
  font-size: 20px;
}

top
.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}

 #texto_08
 {
  color: black; 
  padding-top:4px;
  font-size: 10px;
  text-align: center;
 }
.col-xs-6{
  padding-left: 0px !important;
}
.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-right: 25%;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 12px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 12px;
color: white;
padding: 9px;
text-align: justify;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}


  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 
#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 30%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 8px;
  }


#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }
    #solo_paraTi2{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  padding-top: 20px;
} 

#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
} 
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none
  }
  .navbar-custom .navbar-brand{
    font-size:2em;-webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s
  }
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
     }
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 
     }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }

}



@media(min-width: 328px){
  .bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor7.png);
background-repeat: no-repeat;
  } 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor6.png);
background-repeat: no-repeat;
  }

  #imagenes{
  margin-top: 15px;
}
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 60px;
}
.nombre{
  margin-top: 160%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

}

@media(min-width:360px){
.marcoFotoGrande {
  background-color: black; 
  height: 195px; 
  margin-top: 25px;
}

.nombre1{
  margin-top: 125%; 
  font-size:17px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
  #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 265%;
  margin-left: -110%;
}
#imagenes{
  margin-top: 15px;
}
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 65px;
}
.nombre{
  margin-top: 120%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
}

@media (min-width: 370px) {

.marcoFotoGrande {
  background-color: black; 
  height: 205px;  
  margin-top: 20px;
}

.nombre1{
  margin-top: 125%; 
  font-size:17px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
  #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 244%;
  margin-left: -100%;
}
.texto_02{font-family: "Lato"; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px;
  } 

#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:18px;
  }

.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 10px;
  } 


 #texto_08
 {
  color: black; 
  padding-top:4px;
  font-size: 10px;
  text-align: center;
 }

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 30%;
} 

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
} 

 }


@media (min-width: 380px) {
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 15px;
}

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
}
.marcoFotoGrande {
  background-color: black; 
  height: 215px; 
  margin-top: 25px;
} 
  #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
   text-transform: uppercase; 
   margin-left: 47%;
   margin-bottom: 10px;
  margin-top: 0px !important;
  font-size: 11px;
  }
  #imagenes{
  margin-top: 15px;
}    #top20{
    color: #fff;
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 12px;
    text-align: right;
  }
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 70px;
}
.nombre{
  margin-top: 100%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
}

@media (min-width: 400px) {
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 10px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 80%;
  color:#fff;
}
#tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
  }

  #tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #D89919;
  } 
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 70px;
}
.titulo_info{
  font-size: 15px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

  #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
   text-transform: uppercase; 
   margin-left: 47%;
   margin-bottom: 10px;
  margin-top: 0px !important;
  font-size: 13px;
  }
.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 12px;
}
.nombre1{
  margin-top: 125%; 
  font-size:17px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
   .edad1{ 
    font-size:14px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

.marcoFotoGrande {
  background-color: black; 
  height: 245px;  
  margin-top: 20px;
}
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  padding-top: 5px;
} 
}

@media (min-width: 430px) {
 .col-sm-6{
  width: 50% !important;
 }

  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 50%; 
  text-align: center;
  font-size:20px;
} 

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 50%; 
  }
  #tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 12px;
  }
  .miralas_enVideo{
  background-color:black;
   height: 45px;
   width: 70%;
  } 

  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 25px;
}
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 25px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  padding-top: 25px;
} 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 500px;
}

}


@media(min-width:420px){
  .marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 77px;
}
 #top20{
    color: #95A5A6 ;
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 12px;
    margin-left: 20px;
    text-align: left;
  }
.nombre{
  margin-top: 90%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
    #check{
height: 22px;
width: 22px;
margin-left: -50%;
} 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
}

@media(min-width: 436px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 530px;
}
.miralas_enVideo{
  background-color:black;
   height: 45px;
  } 
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 35px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 43px;
}
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}

}

@media(min-width: 450px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 550px;
}
.nombre{
  margin-top: 76%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 83px;
}
  #imagenes{
  margin-top: 5px;
}
}

@media (min-width: 465px) {
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 10px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 92%;
  color:#fff;
}
#tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
  }

  #tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #D89919;
  } 

.titulo_info{
  font-size: 15px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 12px;
}
.nombre1{
  margin-top: 125%; 
  font-size:17px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
   .edad1{ 
    font-size:14px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

.marcoFotoGrande {
  background-color: black; 
  height: 255px;  
  margin-top: 20px;
}
}

@media(min-width: 480px){
    #flag 
  {
  width: 25px;
  height: 20px;
  margin-top: 245%;
  margin-left: -120%;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 97%;
  color:#fff;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 45%;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 12px;
  }
#team{
  height: 490px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 90px;
}
  #imagenes{
  margin-top: 5px;
}
#tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
  }

  #tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #D89919;
  } 

.titulo_info{
  font-size: 15px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 12px;
}
.nombre1{
  margin-top: 125%; 
  font-size:18px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
   .edad1{ 
    font-size:15px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }

.marcoFotoGrande {
  background-color: black; 
  height: 265px;  
  margin-top: 20px;
}

}
@media(min-width: 498px){

.miralas_enVideo{
  background-color:black;
   height: 55px;
   margin-left: 35px;
  }
  .texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 45px;
}
}

@media(min-width: 501px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 550px;
}
#team{
  height: 510px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
  .col-sm-8{
    width: 66.66666667% !important;
  }
  .col-sm-4{
    width:33.33333338% !important;
    padding-left: 0px !important;
  }

  .col-xs-12{
    padding-left: 0px !important;
    padding-right: 3px !important;
    padding-bottom: 0px !important;
  }
.nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-left: 4%;
  margin-top: 4%;
  width: 95px;
}
  #imagenes{
  margin-top: 5px;
}
  #tituloNegro{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 10px;
  }

   #top20{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 3px;
  }
  #check{
height: 22px;
width: 22px;
margin-left: -37%;
}
    #boton_verMuro{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
   text-transform: uppercase; 
   margin-left: 27%;
   margin-bottom: 10px;
  margin-top: 0px !important;
  font-size: 10px;
  }
#tituloColor{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #D89919;
  } 
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 54%;
  color:#fff;
}
    #flag 
  {
  width: 25px;
  height: 20px;
  margin-top: 370%;
  margin-left: -70%;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 11px;
  }
.titulo_info{
  font-size: 12px;
  color: #222;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  margin-left: 10px;
}
.texto_info2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.texto_info{
  color: black;
  text-align: justify;
  margin-left: 10px;
  font-size: 10px;
}
.nombre1{
  margin-top: 180%; 
  font-size:18px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  margin-left: 10px;
  }
   .edad1{ 
    font-size:15px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
    margin-left: 10px;
  }

.marcoFotoGrande {
  background-color: black; 
  height: 275px;  
  margin-top: 20px;
}
}

@media(min-width: 520px){

  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 40%; 
  text-align: center;
  font-size:20px;
}
  #imagenes{
  margin-top: 30px;
}
#tituloFotos{
  text-align: center; 
  margin-top: 120px;
  font-size: 25px;
}

.nombre{
  margin-top: 60%; 
  font-size:10px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
    .edad{ 
    font-size:8px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 40%; 
  }
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 40px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 65px;
}
#team{
  height: 540px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 20%;
  color:#fff;
}
}

@media(min-width: 526px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 55px;
} 
#tituloVideo3{ 
    padding-top: 20px; 
    text-transform: uppercase; 
    color:white; 
    text-align: center; 
    font-size: 15px;
  } 
  .nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 70px;
  margin-left: 4%;
  margin-top: 4%;
  width: 100px;
}
  #imagenes{
  margin-top: 0px;
}
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 55px;
}
}

@media(min-width:540px){
#team{
  height: 560px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 22px;
  font-size: 1.4rem;
  margin-left: 55%;
  color:#fff;
}
.nombre1{
  margin-top: 165%; 
  font-size:16px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
    .edad1{ 
    font-size:14px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
    #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 330%;
  margin-left: -100%;
}

}

@media(min-width: 551px){
  .nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 70px;
  margin-left: 4%;
  margin-top: 4%;
  width: 100px;
}
  #imagenes{
  margin-top: 0px;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -40px;
    margin-bottom: 20px;
    font-size: 12px;
  }
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 30%; 
  }
  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 78px;
} 

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 35px;
}
} 


@media(min-width:571px){
  #team{
  height: 580px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 70px;
  margin-left: 4%;
  margin-top: 4%;
  width: 105px;
}
  #imagenes{
  margin-top: 0px;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -40px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

@media(min-width: 581px){

  #team{
  height: 595px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.nombre{
  margin-top: 66%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  }
.marcoFoto{
  background-color: black; 
  height: 70px;
  margin-left: 4%;
  margin-top: 4%;
  width: 105px;
}
  #imagenes{
  margin-top: 20px;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -40px;
    margin-bottom: 20px;
    font-size: 12px;
  }
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 68px;
} 
  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 30%; 
  text-align: center;
  font-size:20px;
}
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 30px;
}
}

@media(min-width: 591px){

#team{
  height: 600px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 32%; 
  text-align: center;
  font-size:20px;
} 
.marcoFotoGrande {
  background-color: black; 
  height: 250px; 
  margin-top: 25px;
}
.nombre1{
  margin-top: 125%; 
  font-size:15px; 
  text-transform:uppercase; 
  color: white;  
  text-align: left;
  }
    .edad1{ 
    font-size:13px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
  #flag 
  {
  width: 20px;
  height: 15px;
  margin-top: 250%;
  margin-left: -120%;
}

}


@media(min-width: 616px){

.marcoFoto{
  background-color: black; 
  height: 90px;
  margin-left: 4%;
  margin-top: 4%;
  width: 85px;
}
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -37px;
    margin-bottom: 20px;
    font-size: 12px;
  }
.nombre{
  margin-top: 120%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 

    #team{
  height: 620px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
#imagenes{
  margin-top: 45px;
}
}

@media(min-width: 636px){



.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 570px;
}
    #team{
  height: 660px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
}


@media(min-width: 670px){

  #team{
  height: 680px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

.marcoFoto{
  background-color: black; 
  height: 80px;
  margin-left: 4%;
  margin-top: 4%;
  width: 120px;
}
.nombre{
  margin-top: 60%; 
  font-size:8px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:7px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
}

@media(min-width:690px){
.marcoFotoGrande {
  background-color: black; 
  height: 280px; 
  margin-top: 25px;
  margin-bottom: 20px;
}
  #team{
  height: 700px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
}

@media(min-width:700px){
.marcoFotoGrande {
  background-color: black; 
  height: 280px; 
  margin-top: 25px;
  margin-bottom: 20px;
}

.marcoFoto{
  background-color: black; 
  height: 86px;
  margin-left: 4%;
  margin-top: 4%;
  width: 120px;
}
  #team{
  height: 720px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
}

@media(min-width:725px){
.marcoFotoGrande {
  background-color: black; 
  height: 280px; 
  margin-top: 25px;
  margin-bottom: 20px;
}

.marcoFoto{
  background-color: black; 
  height: 86px;
  margin-left: 4%;
  margin-top: 4%;
  width: 120px;
}
  #team{
  height: 730px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
}

@media(min-width: 740px){
.marcoFoto{
  background-color: black; 
  height: 109px;
  margin-left: 4%;
  margin-top: 4%;
  width: 135px;
}
    #top20{
    color: #fff;
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 20px;
    text-align: center;
  }
#boton_buscarMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 35%;
    margin-top: -43px;
    margin-bottom: 20px;
    font-size: 12px;
  }
#team{
  height: 870px; 
  background-image: url(../img/BLOQUE-DE-FOTOGRAFÍAS-compressor.png);
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
#imagenes{
  margin-top: 60px;
}
}


