

/* Tablets*/
@media(min-width:300px){
.team_a{
  height: 100%; 
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor1.png);
  no-repeat center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
} 
.team_b{
  height: 100%;
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor2.png);
  no-repeat center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;} 
}
.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 0px; 
  font-size: 8px;
} 
  .miralas_enVideo{
  background-color:black;
   height: 80px;
   margin: 8px 15px 0px 40px;
   width: 60% !important;
  }

 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 30% !important; 
  font-size: 10px !important;
}

}

@media(min-width:304px;){
  #tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    letter-spacing: 0.1em; 
    padding-top: 6%; 
    text-align: center;
    font-size:20px;
    } 
#team{
  margin-top: 30px;
  background-image: url(../img/BOX-SHOWPRIVADO-compressor2.png);
  no-repeat fixed center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 415px !important;
}
}

@media (min-width: 320px) {
.team_a{
  height: 100%; 
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor1.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
} 
.team_b{
  height: 100%;
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor2.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;} 
} 
 .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 30%; 
  font-size: 10px !important;
} 
#team{
  margin-top: 30px;
  background-image: url(../img/BOX-SHOWPRIVADO-compressor2.png);
  no-repeat fixed center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 425px;
}
.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 35px; 
  font-size: 9px;
  width: 100%;
} 

  .miralas_enVideo{
  background-color:black;
   height: 80px;
   margin-left: 55px !important;
   width: 60% !important;
   padding: 0;
  }

#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:33px; 
padding-top: 295px; 
margin-left: 30%; 
color: #E1B423;
line-height: 1em;
}

#tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
header{
  background-image:url(../img/header-bg.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 390px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:20px; 
  margin-top:35px; 
  text-align: left;
}
section#contact .section-heading{
  color:#fff;
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 11px;
}

#camarita_web{
  padding-left:36%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 40%; 
  margin-top: 30px; 
  margin-bottom: 30px;
}


#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: center; 
    font-size: 15px;
  } 

.texto_02{
font-family: "Lato"; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
padding: 6px;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px;
  margin-top: 20px;
  } 

.marcoFoto{
  background-color: black; 
  height: 60px;
}

#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:18px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 14px;
  margin-top: 10px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  font-size: 13px;
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
  margin-left: 40%;
}
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 10px;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 20px;
  font-size: 
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}

 #texto_08
 {
  color: black; 
  padding-top:4px;
  font-size: 10px;
  text-align: center;
 }

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-left: 25%;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-right: 25%;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 12px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 12px;
color: white;
padding: 9px;
text-align: justify;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}


  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 25px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 
#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 30%;
font-size: 11px;
margin-top: 9%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 10%;
  }

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5px; 
  font-size: 8px;
} 

  .bg-light-gray2{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  height:400px; 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
} 
  .navbar-custom{
    background-color:rgba(128, 128, 128, 0.2);
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none
  }
  .navbar-custom .navbar-brand{
    font-size:2em;-webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s
  }
  .navbar-custom .navbar-nav>.active>a{
    border-radius:3px;
     }
  .navbar-custom.affix{
    background-color:#222;
    padding:10px 
     }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }

@media(min-width: 336px){
   .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 35% !important; 
  font-size: 10px !important;
}
#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 25%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 11px;
}
}

@media(min-width: 344px){
   .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 40% !important; 
  font-size: 10px !important;
}
}

@media(min-width: 360px){
  .chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 20% !important;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
    .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 30% !important; 
  font-size: 10px !important;
}
}

@media (min-width: 370px) {

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}
#boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 30%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 11px;
}
.nombre{
  margin-top: 80% !important; 
  font-size:7px !important; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left !important;
  } 
  .edad{ 
    font-size:6px !important; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left !important;
  }
  .miralas_enVideo{
  background-color:black;
   height: 90px;
   margin-left: 85px;
   width: 50% !important;
  }
#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px;
  } 

#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:18px;
  }

.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 10px;
  } 

 #texto_08
 {
  color: black; 
  padding-top:4px;
  font-size: 10px;
  text-align: center;
 }

#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 30%;
} 

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
} 

 }


@media (min-width: 380px) {
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 15px;
}
  .miralas_enVideo{
  background-color:black;
   height: 90px;
   margin: 8px 15px 0px 60px;
   width: 65% !important;
  }

    .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 26% !important; 
  font-size: 10px !important;
}
.texto_04{
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 45px !important; 
  font-size: 9px;
  width: 100%;
} 
}

@media (min-width: 400px) {
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 10px;
}


  .miralas_enVideo img{
  background-color:black;
   height: 85px !important;
   width: 100%;
   margin: 0px;
  }

 #boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 35%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 11px;
}
.miralas_enVideo{
  background-color:black;
  height: 85px !important;
  margin: 5px 10px 12px 20px !important;
  width: 40% !important;
  }


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 20px;
  margin-left: 0% !important;
  width: 80% !important;
  padding-left: 5px !important;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 20px;
  margin-right: 0% !important;
  width: 80% !important;
  padding-left: 0px !important;
 } 

  .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 22% !important; 
  font-size: 10px !important;
} 

}

@media (min-width: 430px) {
 .col-sm-6
 {
  width: 50%;
 }
 .miralas_enVideo{
  background-color:black;
  height: 55px !important;
  margin: 5px 10px 12px 60px !important;
  width: 45% !important;
  }

  .miralas_enVideo img{
  background-color:black;
   height: 55px !important;
   width: 100%;
   margin: 0px;
  }
.team_a{
  height: 100%; 
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor1.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
} 

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 39%;
  }
.team_b{
  height: 100%;
  background-image: url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor4.png);
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;} 
}
.nombre{
  margin-top: 10% !important; 
  font-size:7px !important; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left !important;
  } 
  .edad{ 
    font-size:6px !important; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left !important;
  }
  #team{
  margin-top: 30px;
  background-image: url(../img/BOX-SHOWPRIVADO-compressor2.png);
  no-repeat fixed center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 500px !important;
}
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 15%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  padding-top: 20px;
} 
  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 20%; 
  text-align: center;
  font-size:23px;
  margin-left: 7px;
} 

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
  } 

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:22px;
    width: 100%;
    padding-top: 18%; 
  }
  #tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 12px;
  margin-left: 7px;
  }

  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 8px;
  margin-top: 25px;
}
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 10px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
  padding-top: 25px;
} 

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 500px;
}

}

@media(min-width: 436px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 530px;
}
.miralas_enVideo{
  background-color:black;
   height: 45px;
  } 
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 22px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 43px;
}
  .textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}

}

@media(min-width: 445px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 37%;
  }
}

@media(min-width: 449px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 550px;
}
  .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 16% !important; 
  font-size: 10px !important;
} 
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 37px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 60px;
}
}

@media(min-width: 455px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 35%;
  }
}

@media(min-width: 456px){
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 41% !important;
  }
  }

@media(min-width: 462px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 32px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 60px;
}
 
}

@media(min-width:463px){
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 54% !important;
  }
}

@media(min-width: 468px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 2px; 
  font-size: 8px;
} 

  .miralas_enVideo img{
  background-color:black;
   height: 62px !important;
   width: 100%;
   margin: 0px;
  }
 #boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 5% !important;
  }
   #solo_paraTi2{
  width: 80%; 
  max-height: 340px; 
  margin-top: 10% !important;
  transform: translateX(12%);
  }
  .miralas_enVideo{
  background-color:black;
   height: 62px !important;
   margin-left: 35px;
  }
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 64% !important;
  }
  .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 18%; 
  font-size: 12px;
}

}

@media(min-width:475px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 63% !important;
  }
    .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 13% !important; 
  font-size: 10px !important;
} 
}

@media(min-width: 479px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 0px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 60px;
}
}


@media(min-width: 480px){
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 0px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 10px !important;
}

  .miralas_enVideo img{
  background-color:black;
   height: 72px !important;
   width: 100%;
   margin: 0px;
  }

.miralas_enVideo{
  background-color:black;
   height: 72px !important;
   margin-left: 35px;
  }
.nombre{
  margin-top: 0% !important; 
  font-size:8px !important; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left !important;
  } 
  .edad{ 
    font-size:7px !important; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left !important;
  }
}

@media(min-width: 486px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 35px;
}
.miralas_enVideo{
  background-color:black;
   height: 55px;
   margin-left: 35px;
  }
}

@media(min-width:490px){
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 62% !important;
  }
}

@media(min-width: 496px){

.miralas_enVideo{
  background-color:black;
   height: 56px;
   margin-left: 35px;
  }
  .texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 40px !important;
}
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 2px; 
  font-size: 8px;
}

}

  @media(min-width:496px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 81% !important;
  }
}


@media(min-width:498px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 80% !important;
  }
}

@media(min-width: 501px){
  .bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 550px;
}
.boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 20px;
  margin-left: 0% !important;
  width: 65% !important;
  padding-left: 5px !important;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 20px;
  margin-right: 0% !important;
  width: 65% !important;
  padding-left: 0px !important;
 } 
  .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 12% !important; 
  font-size: 10px !important;
} 
#team{
  margin-top: 30px;
  background-image: url(../img/BOX-SHOWPRIVADO-compressor3.png) !important;
  no-repeat fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  min-height: 450px !important;
} 
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 2px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 45px;
}
}

@media(min-width:506px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 79% !important;
  }
}

@media(min-width:510px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 65% !important;
  }
}

@media(min-width:515px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 63% !important;
  }
}

@media(min-width: 520px){

  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 40%; 
  text-align: center;
  font-size:20px;
}
 #boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 37%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 11px;
}
  .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 8% !important; 
  font-size: 10px !important;
}
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 40%; 
  }

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 40px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 55px;
}
}

@media(min-width: 526px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 30px;
} 
#tituloVideo3{ 
    padding-top: 20px; 
    text-transform: uppercase; 
    color:white; 
    text-align: center; 
    font-size: 15px;
  } 

  #solo_paraTi2{ 
  margin-top: 3% !important;
  }

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 55px;
}
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 60% !important;
  }

}

@media(min-width:535px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 58% !important;
  }
}

@media(min-width:538px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 63% !important;
  }
}

@media(min-width: 545px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 26px;
} 
#camarita_web{
  padding-left:36%; 
  padding-top: 3%; 
  margin-bottom: -5px;
}
.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 12px !important;
}
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 62% !important;
  }
    .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 6% !important; 
  font-size: 10px !important;
}
}


@media(min-width: 551px){
#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 30%; 
  text-align: center;
  font-size:20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 1.6em;
}
.miralas_enVideo{
  background-color:black;
   height: 65px;
   margin-left: 45px;
  }
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 30%; 
  }
  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 58px;
} 
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 61% !important;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 35px;
}
} 

@media(min-width:556px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 60% !important;
  }
}

@media(min-width: 561px){

  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 38px;
} 

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 35px;
}
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 52% !important;
  }
}

@media(min-width: 571px){

  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 48px;
} 

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 35px;
}
}

@media(min-width:575px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 50% !important;
  }
}

@media(min-width: 581px){

#camarita_web{
  padding-left:39%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 
   .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7% !important; 
  font-size: 10px !important;
}
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 50px;
}

#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  font-size: 13px;
  text-transform: uppercase; 
  margin-top: 20px !important; 
  margin-bottom: 5px;
  margin-left: 40%;
}

  #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 30%; 
  text-align: center;
  font-size:20px;
}
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 30px;
}
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 49% !important;
  }
}

@media(min-width:587px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 48% !important;
  }
}

@media(min-width: 591px){

#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 32%; 
  text-align: center;
  font-size:20px;
} 
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 47% !important;
  }
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 32%; 
  }
  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 38px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 40px;
}
}

@media(min-width: 600px){

  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 38px;
}
    #solo_paraTi2{
  width: 70%; 
  height: 250px; 
  margin-top: 1%;
  margin-left: 10%;
  }
}

@media(min-width: 605px){
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 46% !important;
  transform: translateX(10%);
  }
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 27px;
}

}

@media(min-width:610px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 45% !important;
  }
}

@media(min-width: 615px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 20px;
}
 #boton_contrata{
  background-color:#D89919; 
  font-family: "Lato", sans-serif; 
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-left: 39%; 
  margin-top: 20px; 
  margin-bottom: 10px;
  font-size: 11px;
}
}

@media(min-width:620px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 43% !important;
  }
}

@media(min-width: 625px){
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 43% !important;
  }
}

@media(min-width:633px){
  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 15px;
} 

#camarita_web{
  padding-left:82%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 
}

@media(min-width: 636px){
#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 10%; 
  text-align: center;
  font-size:20px;
}
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 10%; 
  }
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 42% !important;
  }
  .texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 50px;
}
.miralas_enVideo{
  background-color:black;
   height: 75px;
   margin: 8px 15px 0px 40px;
  }

.bg-light-gray{
  background-image:url(../img/BOX-SALACOMPARTIDA-VIDEOS-compressor.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 570px;
}
}

@media(min-width:640px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 41% !important;
  }
}

@media(min-width: 646px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 83px;
} 
   .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5% !important; 
  font-size: 10px !important;
}
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 45% !important;
  }
#camarita_web{
  padding-left:80%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
 margin-top: 15px;
}
.miralas_enVideo{
  background-color:black;
   height: 80px;
   margin: 8px 15px 0px 30px;
  }
}

@media(min-width:650px){
    #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 68% !important;
  }

  .miralas_enVideo img{
  background-color:black;
   height: 92px !important;
   width: 100%;
   margin: 0px;
  }
    .miralas_enVideo{
  background-color:black;
   height: 92px !important;
   margin-left: 96px !important;
   width: 50% !important;
  }
}

@media(min-width: 656px){

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 80px;
} 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 67% !important;
  }
}

@media(min-width: 667px){
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 65% !important;
  }
}


@media(min-width: 676px){

#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 27%; 
  text-align: center;
  font-size:20px;
} 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 64% !important;
  }
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 88px;
}
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 27%; 
  }

}

@media(min-width: 685px){

.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
 margin-top: 19px;
}
     .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 3% !important; 
  font-size: 10px !important;
}
}

@media(min-width: 687px){
  #boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 67% !important;
  }
}

@media(min-width: 693px){
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 90px;
}

}

@media(min-width: 700px){
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 65% !important;
  }
  .chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 15% !important;
  text-align: center;
  text-transform: uppercase;
 }
     .texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7% !important; 
  font-size: 10px !important;
}
}

@media(min-width: 712px){
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 83px;
}
#camarita_web{
  padding-left:78%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 64% !important;
  }
}

@media(min-width: 720px){

#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 62% !important;
  }
@media(min-width: 730px){
  #camarita_web{
  padding-left:76%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 75px;
}
#tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 17%; 
  text-align: center;
  font-size:20px;
}
#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:20px;
    width: 100%;
    padding-top: 17%; 
  }
    .miralas_enVideo{
  background-color:black;
   height: 72 !important;
   margin-left: 70px !important;
  }
}

@media(min-width: 735px){
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 60% !important;
  }
}

@media(min-width: 740px){
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 30px;
} 

  .miralas_enVideo img{
  background-color:black;
   height: 84px !important;
   width: 100%;
   margin: 0px;
  }
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 0px !important;
}
.miralas_enVideo{
  background-color:black;
   height: 84px !important;
   margin-left: 70px !important;
  }
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 41% !important;
  }

}

@media(min-width: 750px){
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 39% !important;
  }
}

@media(min-width: 763px){
.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 28px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 8px;
  padding-top: 0px;
}
 
#boton1{
  text-transform: uppercase; 
  background-color:#D89919;
  font-size: 11px;
  margin-top: 38% !important;
  }
}

