

/* Tablets*/

@media (min-width: 360px) {

  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 1.5rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 20px;
}

#punt{
  color: black;
  font-size: 12px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 10px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  width: 85%;
}

#color_tiempo{
  color:#fed136;
}


#tituloHome{
font-family: "Lato";
font-weight: 100; 
text-transform: uppercase; 
font-size:33px; 
padding-top: 295px; 
margin-left: 30%; 
color: #E1B423;
}
#team{
  margin-top: 50px; 
  height: 470px; 
  background-image: url(../img/BOX-SHOWPRIVADO-compressor.png);
}
#marco_info{
  background-color: transparent;
  height: 135px;
}
  #titulo_info{
  font-size: 20px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300px;
  padding-left: 10px;
  color: black;
}
#texto_info{
  color: black;
  padding-left: 15px;
  text-align: justify;
  font-size: 13px;
}
#iniciar_chat
{
  background-color:gray;
  text-transform: uppercase;
  color: black;  
  width: 40%;
  margin-left: 20px;
  font-size: 10px;
}

#culminar_chat{
  background-color:#fec503;
  text-transform: uppercase;
  color: black;
  width: 45%;
  font-size: 10px;
}
#texto_info{
  color: black;
  padding-left: 20px;
}
#tituloVideo10{
  text-align:center; 
  text-transform: uppercase; 
  color:black; 
  font-size:12px; 
  padding-top:25px; 
  } 

#tituloVideo11{
    text-align:center; 
    text-transform: uppercase; 
    color:black; 
    font-size:15px; 
    padding-top:25px; 
    } 
header{
  background-color: #fff;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff;
  height: 200px;
}

section h2.section-heading{
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 400; 
  font-size:20px; 
  margin-top:25px; 
  text-align: left;
}
section#contact .section-heading{
  color:#fff;
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
}

.texto_01{
    text-align: justify; 
    width: 100%;
    font-size: 11px;
}

#camarita_web{
  padding-left:36%; 
  padding-top: 3%; 
  margin-bottom: -5px;
} 

.bg-light-gray{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  min-height: 850px;
}

 #tituloVideo{
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 10%; 
  text-align: left;
  font-size:30px;
} 

#tituloVideo2{
  text-transform: uppercase; 
  color:white; 
  text-align: left; 
  font-size: 17px;
  }

#tituloVideo4{
    margin-left: 3%; 
    text-transform: uppercase; 
    color:white; 
    text-align: center;
    font-size:25px;
    width: 100%;
  }

#tituloVideo3{ 
    padding-top: 10px; 
    text-transform: uppercase; 
    color:white; 
    text-align: center; 
    font-size: 15px;
  } 

.texto_02{font-family: "Lato"; 
font-weight: 100; 
color: white; 
text-align: justify; 
line-height: 1.4em; 
width: 100%;
}

.textoBoton{
  font-family:"Lato", sans-serif; 
  font-weight: 300; 
  color: black;
  font-size: 10px;
}

#tituloVideo5{
  margin-left:4%; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 12px;
  } 

.miralas_enVideo{
  background-color:black;
   height: 40px; 
   margin: 5px 5px 5px 0px;
  } 

.marcoFoto{
  background-color: black; 
  height: 60px;
  margin-bottom: 5%;
}


.nombre{
  margin-top: 40%; 
  font-size:12px; 
  text-transform:uppercase; 
  color: white;  
  line-height: 1.2em; 
  text-align: left;
  } 
  .edad{ 
    font-size:8px; 
    text-transform:uppercase; 
    color: white;  
    line-height: 1.2em; 
    text-align: left;
  }
#tituloVideo6{
  text-align:center; 
  text-transform: uppercase; 
  color:white; 
  letter-spacing:0.2em; 
  padding-top: 2%; 
  font-size:18px;
  }

#tituloVideo7{
  text-align: center; 
  text-transform: uppercase; 
  color:white; 
  font-size: 14px;
  margin-top: 10px;
  } 
.chat-text1{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  padding-top: 25%;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
 }

 .chat-text3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15px;  
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
 }
 
 .chat-text4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
 }
#boton_chat{
  background-color:#D89919; 
  font-family: "Lato",sans-serif;
  font-weight:400; 
  color:black; 
  text-transform: uppercase; 
  margin-top: 40px; 
  margin-bottom: 5px;
}
.texto_05{ 
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: justify; 
  font-size: 10px;
  } 


#tituloFotos{
  text-align: center; 
  margin-top: 20px;
  font-size: 
}

.text-muted
{
  color:black; 
  text-align:left; 
  font-size: 12px; 
  margin-top: 10px;
  text-align: left;
}

#nombre{
 color:#fed136;
 font-family: "Lato", sans-serif;
 font-weight: 200;
 text-align: left;
 font-size: 18px;
 background-color: #222;
}
 #marco_datosChica{
background-color: #222;
height: 100px;
 }
.marco_chat{
background-color: black;
height: 300px;
}
  #edad{
color:#fff;
  }
#marco_videoChat{
background-color: gray;
height: 300px;
}
.marco_foto{
  background-color: gray;
  height: 100px;
}
#flag
{
  width: 40px;
  height: 20px;
  margin-left: 80%;
  margin-top: 20px;
}

 #texto_08
 {
  color: black; 
  padding-top:4px;
  font-size: 10px;
 }

.texto_{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 7%; 
  font-size: 12px;
}

#enlaces_horiz
{
  padding: 15px;
}


 .boton_ingreso
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 20px 0px 0px 20px;
  margin-top: 15px;
  margin-left: 25%;
 }

 .boton_unete
 {
  background-color: #D89919;
  font-family: "Lato", sans-serif;
  font-weight: 400;  
  border-radius: 0px 20px 20px 0px;
  margin-top: 15px;
  margin-right: 25%;
 } 

.text-boton
{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
}

.link
{
margin: 0px 10px 0px 10px;
text-transform: uppercase;
font-size: 12px;
}

#footer_enlace
{
  margin-left: 15%;
  margin-bottom: 20px;
}
.enlace
{
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6em;
}

#texto_footer
{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 12px;
color: white;
padding: 9px;
text-align: justify;
line-height: 1.4em;
}
#piePag
{
  padding: 12px;
  background-color:#222;
}


  #tituloVideo8{ 
  padding-top: 15px; 
  text-transform: uppercase; 
  color:white; 
  text-align: center; 
  font-size: 15px;
  } 

  #tituloVideo9{
    text-align:center; 
    text-transform: uppercase; 
    color:white; font-size:10px;    
    color:white; font-size:12px;
  } 
#boton2{
text-transform: uppercase; 
background-color:#D89919; 
margin-left: 30%;
} 

#boton_verMas{
  background-color:#D89919;
   font-family: "Lato"; 
   font-weight:400; 
   color:black;
    text-transform: uppercase; 
    margin-left: 40%; 
    margin-top: 8px;
  }


#solo_paraTi{
  width: 400px; 
  height: 250px; 
  margin-top: 3%;
  }
    #solo_paraTi2{
  width: 240px; 
  height: 140px; 
  margin-top: 3%;
  }

.texto_03{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: 5px; 
  font-size: 8px;
} 
.texto_04{
  color: white; 
  width: 100%; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px;
} 
.bg-light-gray2{
  background-image:url(../img/BLOQUE-DE-CHAT-Y-VIDEO.png); 
  background-repeat: no-repeat;
  no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
#subtiltuloSecund{
  font-family: "Lato"; 
  font-weight: 400; 
  text-transform: uppercase; 
  font-size: 10px; 
  text-align: center; 
  color: black; 
}
#ingresa{
 margin-left: 20px;
 background-color: #fed136;
 border-radius: 20px 0px 0px 20px;
 margin-right: 5px;
}
#marcoTituloHeader{
background-color: #404040;
margin-top: 115px;
 }

 #marcoNombreChica{
background-color: black;
 }

#tituloHeader{
color:#fff;
text-transform: uppercase;
text-align: center;
font-size: 23px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.2em;
}

#nombre_chica{
color:#fed136;
text-align: center;
font-size: 20px;
font-family: "Lato";
font-weight: 200;
margin: 0px 0px 0px 5px;
letter-spacing: 0.1em;
}
#registrate{
background-color: #fed136;
border-radius: 0px 20px 20px 0px;
margin-left: 5px;
} 
  .navbar-custom{
    background-color:#222;
    padding:10px 0;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:none}
    .navbar-custom .navbar-brand{
      font-size:2em;-webkit-transition:all .3s;
      -moz-transition:all .3s;transition:all .3s}
      .navbar-custom .navbar-nav>.active>a{
        border-radius:3px;
        }
        .navbar-custom.affix{
          background-color:#222;
          padding:10px 
          }
  .navbar-custom.affix .navbar-brand{
    font-size:1.5em;
  }
 }

@media(min-width:451px){
  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 1.5rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 20px;
}

#punt{
  color: black;
  font-size: 12px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 10px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 23px;
  text-align: center;
  width: 85%;
}

#color_tiempo{
  color:#fed136;
}

}


@media(min-width:471px){
  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 1.5rem;
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
margin-top: 5px;
}

#punt{
  color: black;
  font-size: 12px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 10px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 23px;
  text-align: center;
  width: 85%;
}

#color_tiempo{
  color:#fed136;
}

}


@media(min-width:522px){
  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 1.5rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#puntuacion{
transform: translateX(10%);
}

#punt{
  color: black;
  font-size: 12px;  
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: #fff;
font-size: 10px;
text-align: left;
width: 100%;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 23px;
  text-align: center;
  width: 85%;
}

#color_tiempo{
  color:#fed136;
}

}


@media(min-width:451px){

#punt{
  color: black;
  font-size: 13px;  
  margin-left: 12px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: black;
font-size: 11px;
text-align: left;
width: 100%;
margin-left: 12px;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 23px;
  text-align: center;
  width: 85%;
}
}

@media(min-width:545px){

#punt{
  color: black;
  font-size: 13px;  
  margin-left: 0px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color:#fff;
font-size: 12px;
text-align: left;
width: 100%;
margin-left: 0px;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 23px;
  text-align: center;
  width: 65%;
}
}

@media(min-width:630px){

  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 25px;
  font-size: 2rem;
  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}


#punt{
  color: black;
  font-size: 13px;  
  margin-left: 20px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: #fff;
font-size: 11px;
text-align: left;
width: 100%;
margin-left: 20px;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 85%;
}
}

@media(min-width:670px){

  .ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 28px;
  font-size: 2rem;  
  color:#222;
}

.ec-stars-wrapper:hover a {
  color:#fed136;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color:#222;
}

#punt{
  color: black;
  font-size: 13px;  
  margin-left: 30px;
  }

#minutos_rest{
font-family: "Lato", sans-serif;
text-transform: uppercase;
color: #fff;
font-size: 11px;
text-align: left;
width: 100%;
margin-left: 30px;
}

#tiempo_rest{
  background-color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 85%;
}
}